/* Services Section */
.services-section {
    background: linear-gradient(90deg, #4a4a4a, #b6b6b6);
    color: #fff;
    padding: 60px 20px;
    border-radius: 0px 20px 0px 20px;
    text-align: center;
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .services-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .services-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
  }
  
  .service {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  .service h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .service:hover {
    transform: translateY(-10px);
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .services-section h2 {
      font-size: 2rem;
    }
  
    .services-section p {
      font-size: 1rem;
      line-height: 1.4;
      padding: 0 20px;
    }
  
    .services-list {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .services-section h2 {
      font-size: 1.5rem;
    }
  
    .services-section p {
      font-size: 0.9rem;
      line-height: 1.3;
      padding: 0 15px;
    }
  }
  